:root{
  --color-background: #eee;
  --color-primary: #111;
  --color-primary-1: rgb(90, 90, 90);
}

.night-mode {
  --color-background: #282c34;
  --color-primary: #fff;
  --color-primary-1: #ddd;
}


* {
  margin: 0;
  padding: 0;
}

*::before, *::after{
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Lato', serif;
  font-size: 1.5rem; // calc(8px + 2vmin);
  font-weight: 400;
  background: var(--color-background);
  color: var(--color-primary);

}