.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline; // align text,  not flex-end.
  position: sticky;

  color: whitesmoke;
  padding: 2em 0 ;

  &__logo-box{
    margin-left: 5ch;
  }

  .brand {
    &--main{
      font-weight: 900;
    }
    &--sub{
      font-weight: 200;
    }
  }

  .navbar {
    margin-right: 2ch;
      a:hover{
        color: yellow;
        text-decoration: underline;
      }
  }

  a {
    color: inherit;
    margin: 0 1vh;

    &:link, &:visited{
      text-decoration: none;
    }
  }
}